[Bb]in/
[Oo]bj/
*.userprefs
*.suo
*.user
/.vs/Be.HexEditor/v15/Server/sqlite3/storage.ide-wal
/.vs/Be.HexEditor/v15/Server/sqlite3/storage.ide-shm
/.vs/Be.HexEditor/v15/Server/sqlite3/storage.ide
/.vs/Be.HexEditor/v15/Server/sqlite3/db.lock
